[2020-05-22 11:12] MartinMalinda opened #1 "Allow useTask to be used outside of setup"
This could be useful for testing.

It seems the only blocker for this is the usage of `onUnmounted()` which would cause an error if used outside of setup. It could be conditionally turned off so that `useTask()` can be used anywhere.

[code]

[2020-05-22 19:35] MartinMalinda opened #2 "Task return type is not inferred with `return yield`"
- https://github.com/microsoft/TypeScript/issues/14883
- https://github.com/ilbrando/redux-saga-typescript

[2020-05-22 19:40] MartinMalinda opened #3 "Allow to use an async function as an alternative to generator"
**cons**
- no cancellation

**pros**
- ability to directly pass existing async functions
[code]
- `async / await` has working type inference

[2020-05-22 19:55] MartinMalinda opened #4 "Improve performance of drop()"
These optimizations might be useful if the task is used very extensively, on scroll or raf or smilar (intense throttling).

Task is being marked as drop after quite some work of creating a new reactive object. Dropped task instance never changes though and all the set up of `reactive()` and `computed()` is not needed.

A simple static object that implements the `TaskInterface` could be returned ri

[2020-05-23 11:00] MartinMalinda opened #5 "Add cancelAll, last, lastSuccessful to TaskGroup"
Make TaskGroup have all the properties of Task, minus the perfoming.

- [ ] access all the instances, last, lastSuccessful
- [ ] allow cancelAll to perform cancelAll on all the tasks

[2020-06-05 17:37] MartinMalinda opened #7 "Encapsulated tasks"
it seems like there's less need for this with Composition API than on the Ember side, but it still might be useful.

http://ember-concurrency.com/docs/encapsulated-task

[2020-06-05 17:39] MartinMalinda opened #8 "Document waitForValue()"
https://github.com/MartinMalinda/vue-concurrency/blob/master/src/utils.ts#L5

[2020-06-06 11:41] #8 closed, assigned to nobody

[2020-06-06 19:39] MartinMalinda commented on #3
Fixed via https://github.com/MartinMalinda/vue-concurrency/commit/2b8e3ae9604d2ee1abb4cea0e8993d105e6ec10d

[2020-06-06 19:39] #3 closed, assigned to nobody

[2020-06-11 13:00] MartinMalinda opened #10 "Built-in SSR support"
There's several approaches how to handle SSR with Tasks but none are optimal: https://vue-concurrency.netlify.app/ssr-support/

The approach of saving data to VueX / Pinia or other client side store has proven to work well but probably shouldn't be done **just** to make SSR with hydration work.
(https://vue-concurrency.netlify.app/examples/store/)

There could be a way to make tasks work with SSR

[2020-07-03 09:03] lukaiser commented on #7
I am loving the project as I am missing ember-concurrency a lot. Thanks for the effort!

How would you substitute encapsulated tasks with composition API?
I guess I don´t know enough about the composition API to really understand it.
I love encapsulated tasks as it is task instance specific data. How would you expose that otherwise?

Thx for the feedback and all the good work!

[2020-07-03 11:03] MartinMalinda commented on #7
Hey thanks for this question, I was wondering about it as well!
I think there's several approaches to this, but I've never actually used encapsulated tasks in ember so I don't feel too eager to come up with a right solution right away.

One easy step towards this would be just bind some object to the task callback. It would allow you to persist some state between performs without reaching outside

[2020-07-03 11:14] MartinMalinda commented on #10
Experimental support here:
https://vue-concurrency.netlify.app/ssr-support/#with-vue-concurrency-ssr-utils

It's been tested briefly, but I expect to revisit this in a month or two when I'll be dealing with this at work.

[2020-07-06 07:26] WaldemarEnns opened #11 "Docs website is not accessible"
# Problem

The page, which the link in the [README.md](https://github.com/MartinMalinda/vue-concurrency/blob/master/README.md) file refers to as the documatation, is not working:

* https://vue-concurrency.netlify.app/

## How to reproduce

* Visit this link: https://vue-concurrency.netlify.app/
* Or try to go to the page via the [README.md](https://github.com/MartinMalinda/vue-concurrency/blob/ma

[2020-07-06 11:40] MartinMalinda commented on #11
Huh, thanks for reporting @WaldemarEnns ! It's working for me but I'm investigating. Any info about your OS / Browser would be appreciated.

[2020-07-06 11:45] WaldemarEnns commented on #11
@MartinMalinda

**Browser and OS**:
[code]

**Screenshot**:
![Bildschirmfoto 2020-07-06 um 13 43 47](https://user-images.githubusercontent.com/43604224/86589860-bae43280-bf8e-11ea-9db9-41427ee6e8e6.png)

![Bildschirmfoto 2020-07-06 um 13 44 58](https://user-images.githubusercontent.com/43604224/86589963-e8c97700-bf8e-11ea-95c0-7e3141511085.png)

[2020-07-06 12:00] MartinMalinda commented on #11
It could be some kind of SSL issue with Netlify I suppose. I reported it further and I hope I'll get some answers. Thanks a lot for the report.

Meanwhile I guess some kind of proxy could help... or cloning this repo and running `npm install && npm run docs:dev` :)

[2020-07-06 12:06] WaldemarEnns commented on #11
@MartinMalinda Your'e welcome! Thanks for the great repo! :)

I have cloned the repo and started the docs in dev mode already 👍

[2020-07-07 06:57] lukaiser commented on #7
Hey Martin

Thanks for the fast and long feedback.
I am not sure if I understand your solution correctly and if it really would serve the same purpose.

Encapsulated tasks encapsulate a task instance not a task.
Therefor, if I understand the Composition API correctly, you would need an additional setup function for each task that creates the state and computed properties for each task instance.
Co

[2020-07-07 10:55] MartinMalinda commented on #11
Apparently it was a temporary issue an it should be fixed by now:

https://community.netlify.com/t/site-not-accessible-for-certain-users-http-vue-concurrency-netlify-app/18264/3

[2020-07-07 11:00] WaldemarEnns commented on #11
Thanks for the information!
Currently it is still not available for me, I will check it again in the evening 👍

[2020-07-08 11:58] MartinMalinda commented on #11
Huh, on the community forums they say it should be fine, but I'll keep this open just in case someone else experiences this.

[2020-07-12 14:32] MartinMalinda commented on #7
Ahh, thanks a lot for these clarifications! I totally misunderstood that the state is encapsulated per instance, not per task as a whole.

In your UI you would love to show the number of files remaining for upload and the total remaining file size.
To show the number of files remaining, you can use a computed property that counts the running tasks.
This works with all the concurrency goodness of c

[2020-07-13 12:30] MartinMalinda opened #12 "Type of 'await' operand must either be a valid promise or must not contain a callable 'then' member."
This happens with newest versions of TS. It seems to happen only in certain cases, possible when task has some `unknown` types.

[2020-07-13 17:18] MartinMalinda commented on #12
Fixed in https://github.com/MartinMalinda/vue-concurrency/commit/983be3b6d68509de6e9fbfccdb30498638a18775

Released in 0.4.3

[2020-07-13 17:18] #12 closed, assigned to nobody

[2020-07-14 06:52] lukaiser commented on #7
Cool! I am in favor for the idea of `taskInstance.state` and a setup function for it. I think `task.state` isn´t necessary with the Composition API. There only ever is one task. Something like this!?

[code]

I get confused by task and taskInstance too. I was wondering, if taskInstance is the wrong name? The Task Instance is in OOP the Instance of the task. Therefore, the object where you can call

[2020-08-01 13:08] MartinMalinda opened #13 "Parent task might get canceled before the child task"
When a task calls another tasks, it might do something like this, perhaps when doing an optimistic update:

[code]

On `unMount` the `followTask` might get cancelled before the `saveTask` and therefore, upon unMount cancelation the `catch` is not invoked. In this example, the optimistic update then does not get reverted.

Since `saveTask` is declared before `followTask` it should be cancelled firs

[2020-08-20 14:56] MartinMalinda commented on #11
Closing. Let's hope it was some rare Netlify glitch that won't happen again.

[2020-08-20 14:56] #11 closed, assigned to nobody

[2020-08-20 15:06] MartinMalinda commented on #2
A similar trick could be done as in https://github.com/chancancode/ember-concurrency-async

[2020-08-20 15:13] MartinMalinda opened #16 "Missing error logging?"
By the design of the task that is catching errors, these errors might not appear in the console.

The task could print these errors in the console anyways, but I need to think in what cases it's actually desirable.

If I remember right ember-concurrency does that only in development environment, but ember plugins are more opinionated and have more "support" from the parent app, while vue plugins a

[2020-09-22 03:00] Hawxy opened #21 "useAsyncTask missing from distribution + installing own copy of Composition-Api"
`useAsyncTask` was never added to https://github.com/MartinMalinda/vue-concurrency/blob/master/src/index.ts and thus I can't seem to use it in my application.

I'm also running into https://github.com/vuejs/composition-api/issues/372, as vue-concurrency installs beta.10 for itself whilst I'm using beta.14

[2020-09-24 06:15] MartinMalinda commented on #21
@Hawxy thanks! I'll add the useAsyncTask and release later today

Regarding https://github.com/vuejs/composition-api/issues/372 last time I checked it was hard to solve but there seems to be new approaches now, I'll investigate

[2020-09-24 15:29] MartinMalinda commented on #21
`useAsyncTask` [released in 1.2.1](https://github.com/MartinMalinda/vue-concurrency/commits/master)

[2020-09-25 20:17] pnaylor commented on #1
I was hoping to be able to use Tasks in composables, seems like it could be very helpful.

[2020-09-25 20:34] MartinMalinda commented on #1
@pnaylor a code example would be useful here for me to understand this usage 🙏

so far I could get away with declaring tasks in the root of setup() and then I performed them later inside other hooks if needed

[2020-09-25 20:36] MartinMalinda commented on #21
I have opened a branch for Vue 3 support here: https://github.com/MartinMalinda/vue-concurrency/pull/22. I'll be doing some changes to bundling there so it might also fix the issue with different composition api versions.

[2020-09-25 22:17] pnaylor commented on #1
My thought was something like a `getCollectionTask` in this `use-collection` composable:
[code]
If it were declared in a component setup, would it only be available when that component is mounted? I am pretty new with Vue still, so maybe I am not thinking of this in the best way yet either. Appreciate the feedback.

[2020-09-26 07:23] MartinMalinda commented on #1
@pnaylor I'm not sure which library is this from, but yes this function is not very compatible with vue-concurrency because it returns its own refs.

If it only returned the ` theQuery.get()` which is a `Promise` then you can yield (await) that Promise in a Task.

[code]

So it would be the other way around - Task would be the top level construct and you'd use the firebase utils inside.

I'm not 1

[2020-09-26 07:40] MartinMalinda commented on #7
@lukaiser

I'd say the returned value should still end up on `taskInstance.value` even for statefulTask. So setting "side" state would have to be via `this.progress = progress` or perhaps even more explicitly via `this.state.progress = progress`. So `this` would refer to the current TaskInstance that is being run.

So `taskInstance.state` is something that's available always, while `taskInstance.v

[2020-09-26 16:35] MartinMalinda commented on #21
I've just released [2.0.0](https://github.com/MartinMalinda/vue-concurrency/commit/4b24819b63316bd65e9fa826909c769e8f158f86) that should elimiate the @vue/composition-api version issue.

I tested via create-vite-app (vue3) and create-nuxt-app (vue2) and I didn't run into any errors.

[2020-09-26 16:43] Hawxy commented on #21
Thanks, I'll test it out as soon as I can.

Looking at the changes, is there a reason you didn't use vue-demi for the dual-version compatibility? That's the go-to I see people using.

[2020-09-27 08:12] MartinMalinda commented on #21
I ran into an issue with it: https://github.com/antfu/vue-demi/issues/5, but I used the postinstall trick from it. Basically the same path as [vue-composable](https://github.com/pikax/vue-composable). I can run the test suite both for Vue2 and Vue3.

[2020-09-29 02:52] Hawxy commented on #21
Everything appears to be working, thanks for your work!

[2020-09-29 02:52] #21 closed, assigned to MartinMalinda

[2020-09-29 12:46] spetex opened #23 "waitForValue should check for not undefined instead of truthy"
https://github.com/MartinMalinda/vue-concurrency/blob/71031148f6fd1f91a2f77b874aee55965038d42a/src/utils/general.ts#L10

[2020-09-30 12:22] MartinMalinda opened #24 "API naming changes"
vue-concurrency API initially started to be as close as possible to [ember-concurrency](http://ember-concurrency.com/) for a few reasons:

- it makes this library easy to understand for people who know ember-concurrency
- it helps preserving the same philosophy and keep the lib on the same path as ember-concurrency

however, there are also some challenges:

## value

`value` is a problematic prope

[2020-10-11 18:45] MartinMalinda commented on #1
It seems like `useTask` can be used outside of setup in Vue 3, although it produces an `onUnmounted is called when there is no active component` warning.

[2020-10-16 04:47] pnaylor commented on #1
Interesting, I guess you would just have to deal with the cleanup manually then?

Was also wondering if defining a task in a component would mean it can only be reused between related components within the same page and not between pages, as it would only exist while the given page is mounted? Unless it is declared in the main App component I guess?

Appreciate the feedback and the great library!

[2020-10-16 13:48] MartinMalinda commented on #1
@pnaylor normally vue-concurrency does `task.cancelAll` when the component is unmounted. Which is usually what you want to happen. But I can imagine that if you would import a task directly from somewhere - not a function that returns a task, but rather a task directly - that in that scenario maybe you don't want the task to cancel if the component is unmounted.

You could create a task right away

[2020-10-21 20:04] MartinMalinda opened #25 "Unhandled rejection / error in Vue 3"
Vue 3 seems to be even more careful about unhandled rejections than Vue 2. Due to the nature of the tasks, where you sometimes you do things like

[code]

This can be annoying.

Or maybe even when the perform function is passed directly in the template:

[code]

It seems like Vue 3 is checking if the result is thenable and then check if the promise rejection is handled. But this internal Vue code

[2020-10-26 10:22] MartinMalinda commented on #7
Soo, I happened to implement some upload with progress indicator and I can totally see a usecase for something like `useStatefulTask`. The danger is it can be quite powerful and ppl might start to use it instead of VueX, Pinia and so on.

I hacked a solution using normal tasks + refs on the side, but I'll try to refactor later with some new abstraction. Hopefully soon 🙏

[2020-11-19 07:41] lukaiser commented on #7
Haha, you are right. But for everything that is powerful you must restrain yourself when to use it. The Composition API has the same pitfalls ;)

[2020-11-19 21:37] MartinMalinda commented on #23
Fixed https://github.com/MartinMalinda/vue-concurrency/blob/master/src/utils/general.ts#L9!

[2020-11-19 21:37] #23 closed, assigned to nobody

[2020-11-21 01:39] mcshaz opened #27 "Minor documentation improvements"
First thank you and well done for making such for a great library

The docs are great, but a few small thoughts on improvements:

### Using with typescript
If you are passing a Task down as a property to a child component, you can use the typing
[code]

### Error handling
if you need to perform error handling within the useTask yielded function, define it on the signal argument first. For example

[2020-11-27 20:25] MartinMalinda commented on #27
Hey thanks for the feedback, appreciated 👍

`ReturnType<typeof useTask>` will effectively give you something like `Task<any, any>`. You can import the `Task` type directly. Due to the plugin being distributed both for Vue 2 and Vue 3 it can be on two different places right now.

I haven't passed a task via `v-model` so far. I think it's better to pass explicitly via some named prop.

[code]

Regar

[2020-12-07 22:57] lukaiser opened #28 "Errors while testing"
When testing a component with "@testing-library/vue"

[code]

I get the following error:

[code]

isError is called on a task passed to the template.
[code]

Running the component in the browser works fine.
Apparently, my task isn't available in the template at that time.

Does anybody have an idea, why that might be the case?

Thanks for the help!!!

PS:  same problem with @vue/test-utils
PPS: I

[2020-12-07 23:22] MartinMalinda commented on #28
Is the task passed via props? Or is the component itself creating it? But I guess you're testing entire `App` component right? So the test is passing no props. Could be a routing issue maybe? I'd dare to guess this isn't really too vue-concurrency related and the issue is somewhere else, it just happened to blow up here.

[2020-12-10 21:58] gerardnll opened #29 "Promise.all() behaviour on tasks"
Hello, I'm having some issues getting some parallel tasks to work. The code in the Promise.all().then() is called immediately, it does not wait for the commit on the action. I thought the 'then' callbacks were called one after another and that 'yield' should wait for it. Here's the example:

[code]

And one of the stores actions (the other one does the same on another endpoint) look like this (in

[2020-12-11 19:31] MartinMalinda commented on #29
Hey @gerardnll .  It looks like you're only defining tasks, but not performing them. Calling `useTask` will not call the generator function right away.

`.perform()` returns a `TaskInstance` which is thenable, so it can be used as a promise.

So you're probably looking for something like this:

[code]

But then you'd probably have to do something like `getUserTask.isRunning || getBusinessTask.isRu

[2020-12-11 20:26] gerardnll commented on #29
Ups, I forgot the `.perform()` on the code examples, but anyway... I was calling them outside the `Promise.all([])` so wrong because I have to pass the instance not the task. OK.

What I'm looking for is just an initial load of some data. Would this be OK?

[code]

But when I run this code it doesn't work. Looking at the parallel task, there's one object in _instances and it has an error: 'Cannot

[2020-12-11 22:00] MartinMalinda commented on #29
oops, sorry! It's not meant to be in an array: https://vue-concurrency.netlify.app/composing-tasks/#parallel-task

`.apply()` error then probably comes from Babel, which transpiles the spread `...` logic the parallel tasks uses.

I should probably change this to accept arrays though 🤔

[2020-12-11 22:15] MartinMalinda opened #30 "Provide unminified code for development"
I might need to run microbundle twice with different configs 🤔

https://github.com/developit/microbundle/issues/66

[2020-12-11 22:26] gerardnll commented on #29
It still gives me the same error even if I remove the array. What am I doing wrong? (Vue 3.0.4)

[2020-12-11 23:19] MartinMalinda commented on #29
I've just added an extra test to cover your case (parallel task without arguments) and it passes in Vue 2 and Vue 3.

[code]

Not sure if I can help further without minimal repro.

Do the other approaches work? The wrap task approach or the task group approach? I think they're not much worse than the `useParallelTask`.

[2020-12-12 12:50] gerardnll commented on #29
I finally got it working doing:

`Promise.all([getUserTask.perform(), getDeliveriesTask.perform(), getBusinessTask.perform()]).then(() => {});`

Works for me as I don't need to track status. The same code as a parallel task wasn't working. I didn't try the Task group.

Thanks for your help! Awesome package.

[2020-12-12 13:37] lukaiser commented on #28
The component itself is creating it... And you are right, it has nothing to do with vue-concurrency. Reactive isn't working either. Thanks for thinking about it :)

[2020-12-12 13:37] #28 closed, assigned to nobody

[2020-12-12 14:58] MartinMalinda commented on #29
Great!

[2020-12-12 14:58] #29 closed, assigned to nobody

[2020-12-18 10:16] snakemastr opened #32 "Vue Warn onDestroyed is called when there is no active component instance to be associated with."
Hi,

First time trying composition API and this package suits my needs. I was trying to combine the examples for useApiTask (using the store to provide a caching mechanism) with the AsyncContent (Loading states example) but as this is my first time stepping out to functional components and using composition API, I got this warning and don't know how to fix this:

Vue Warn: onDestroyed is called wh

[2020-12-18 10:23] MartinMalinda commented on #32
Hey thanks for the report. I think I experienced this too at some point, unfortunately I'm not 100% sure how I got rid of it 😅

the first thing to double check is that any `useTask`, or in this case `useApiTask`, is called only in the root of the setup, not in in any kind of callback or after `await`, etc.

but perhaps there's also other factors at play - I'll check later when I have more time.

T

[2020-12-18 10:27] MartinMalinda commented on #32
Hm -

[code]

This doesn't seem right. I'm afraid you'll have to go with Composition API in this component. `data: {}` on component, is Options API.

so:

[code]

written quickly, may contain typos
Hope this helps!

[2020-12-18 10:39] snakemastr commented on #32
Thank you for your quick reply!

No this is still Vue2 but I have the composition-api module. Like I said, first timer so still figuring out how its different from the Options API

It looks like I have to go in the Composition API as you said. I forgot to enable TS support in my Nuxt build and moving the code to setup removed all the warnings.  Not sure how I would resolve the store but this helpe

[2020-12-18 10:41] #32 closed, assigned to nobody

[2020-12-22 14:02] narusas opened #33 "useSequentialTask did not work."
[code]

I expect console output
[code]

but only
[code]

What I missing?

[2020-12-22 19:36] MartinMalinda commented on #33
Heya! Is this Vue 2 or Vue 3?

This test seems to be passing on both versions: https://github.com/MartinMalinda/vue-concurrency/blob/master/__tests__/wrap-utils.ts#L91

But I'll double check your example tomorrow and I'll let you know

[2020-12-23 00:14] narusas commented on #33
I use vue3.

[2020-12-23 01:46] narusas commented on #33
packages.json
[code]

[2021-01-21 16:32] nandin-borjigin commented on #33
Cannot repro using `vue@3.0.5` and `vue-concurrency@2.0.3`

[2021-01-25 02:33] kpdemetriou commented on #10
I'm interested in this feature. @MartinMalinda how can I help you build this out?

**Edit:**

[code]

[2021-01-25 10:49] MartinMalinda commented on #10
@kpdemetriou

thanks for reaching out about this

There's some WIP on this: https://github.com/MartinMalinda/vue-concurrency/blob/master/src/utils/ssr-utils.ts

Maybe it's not the latest WIP.. I think I have some tweaked (better) version that I tested directly in a Nuxt app... I'll try to recover it (tomorrow hopefully 🙏 ). There was some trick with `reactive` that made sure that even some later c

[2021-01-25 10:51] MartinMalinda commented on #10
The latest WIP solution worked for me actually. But I remember it broke with Nuxt upgrade. It was quite fragile in a way that it somehow used some Nuxt internal things. Nuxt itself isn't actually doing great job with all the `nuxtState` etc IMO, it changes often and it the structure is different in different places (nuxt plugin, context etc)

https://github.com/posva/pinia/issues/332
https://githu

[2021-01-25 16:24] kpdemetriou commented on #10
Thanks for the quick turnaround @MartinMalinda. I've modified your implementation in `ssr-utils.ts` (which indeed doesn't work in Nuxt latest for me) and I believe it should be sustainable now. Would you mind digging up that latest WIP so I can merge any useful additions before I create a PR?

[2021-01-27 19:56] MartinMalinda commented on #10
@kpdemetriou I tried to look it up but couldn't find it, welp. It's in some old branch that I can't identify right now 😬  but I rechecked the implementation and what was important was the usage of `computed` for the saving of task instances and that's present in the current master also... so maybe It's fine.

PR for the fix for latest Nuxt is welcome 🙏

[2021-01-27 20:31] kpdemetriou commented on #10
I thought that might be what you meant; relevant PR in #34.

[2021-04-01 10:13] MartinMalinda commented on #33
Closing, let me know if this is still relevant

[2021-04-01 10:13] #33 closed, assigned to nobody

[2021-04-13 17:04] refayathaque commented on #1
This looks like a very promising library that I can use to solve some concurrency issues we're having @MartinMalinda ! Thank you so much for your thought and effort behind it :) Our application is using the Options API so I'm having a hard time refactoring to Composition API to be able to use this, is there anything you can propose that would allow me to leverage this library but not change my Opt

[2021-05-13 00:29] narusas opened #41 "when perform() called, TypeError: import_caf.default.cancelToken is not a constructor raised."
Hi
I try to use cue-concurrency in my project

Vue 3.05
Vue-Concurrency 2.0.3

My code
[code]

But it failed  when call perform();

[code]

[2021-05-27 21:05] realflight1 opened #43 "usePipeTask raises "c.perform is not a function" when trying to integrate with the Quasar framework"
I am trying to integrate vue-concurrency with Quasar v2, a Vue 3 framework. When using `usePipeTask` I get the following error:

[code]

To reproduce, I created a minimal Quasar project from scratch, installed vue-concurrency, added `regenerateRuntime` to the webpack configuration (otherwise I get an error) and finally copied the test code for `usePipeTask`. The changes can be viewed in this [comm

[2021-05-28 07:14] MartinMalinda commented on #43
Thanks for reporting this. I just tried this in a `vite` project and could reproduce this bug. The tests for `pipeTask` are passing, but there seems to be something bad happening in compilation so after minification and bundling, `usePipeTask` specifically stops working.

If I copy paste the definition for pipeTask directly in my code, it works:

[code]

I'll try to check what's wrong in the build

[2021-05-28 07:16] MartinMalinda commented on #41
Hey @narusas , thanks for the report. I havent' encountered this one yet. Is this vue-cli? It might be some npm install problem where `caf` wasn't installed. `caf` is a dependency of `vue-concurrency`

[2021-05-28 16:45] realflight1 commented on #43
Thanks for the quick response and for confirming. It does work when I copy the code directly into my project, so at least there's a workaround. By the way, looks like my example is a little bit broken (async setup not done correctly) but it can still be tested with `console.log` or similar in the code.

[2021-05-28 18:49] MartinMalinda commented on #43
@realflight1 AFAIK `async / await` can be used directly in setup function but in that case your whole componet becomes async in a way and you have to use `Suspense` and such which is actually not too compatible with `vue-concurrency` - so I was avoiding this approach so far.

Instead of using `async await` directly in setup I would usually create a wrap task.

https://vue-concurrency.netlify.app/c

[2021-06-10 12:36] djmattyg007 opened #46 "Export types like TaskInstance"
This will provide more flexibility when typing things.

[2021-06-10 18:10] MartinMalinda commented on #46
They're exported but maybe not in root, I'll take a look.

So far this should work I think: (change vue3 to vue2 if needed):

[code]

I'll try to make this work:

[code]

[2021-06-12 03:05] djmattyg007 commented on #46
Importing from nested paths feels very clunky. It would definitely be easier if the relevant types were exported through the main entrypoint (something which typescript absolutely fully supports).

[2021-07-06 07:32] rudolfbyker commented on #27
Another little issue in the docs, under https://vue-concurrency.netlify.app/cancellation/#cancelation-cascade : The code example does not match with the words right below it.

[2021-07-06 08:46] rudolfbyker commented on #1
This would very useful for using Tasks inside Vuex. Yes, Vuex is a state management system, and you could store a promise there, store its value when it resolves, store its error when it rejects, etc. etc. But all of that boilerplate has to be written for every asynchronous thing you do from within Vuex. vue-concurrency's Tasks already does all of this. All that is needed is to disable the automat

[2021-07-18 10:03] MartinMalinda commented on #1
This should now be released in 2.1.0. I haven't done thorough tests on how tasks behave outside of components but in theory, there should be no problems at all.

`useTask()` can just be called anywhere.
You can also do `useTask(function * () {}, { cancelOnUnmount: false })` but that actually makes sense only if you call it in a component in those rare cases when you don't wanna abort on unmounting

[2021-07-18 10:03] #1 closed, assigned to nobody

[2021-07-18 10:19] MartinMalinda commented on #46
This should be fixed as part of `2.1.1`

<img width="676" alt="Screenshot 2021-07-18 at 12 18 51" src="https://user-images.githubusercontent.com/9468793/126063639-e687413b-2c15-4758-835a-2327c332d31b.png">

[2021-07-18 10:19] #46 closed, assigned to nobody

[2021-07-18 11:50] MartinMalinda opened #49 "Lightweight task instances for better performance"
Every task instance creates a bunch of `computed` which can be costly, especially in Vue 2. Task instances are also created often asynchronously - after user interaction or when other async logic finishes and os on. That makes these new computeds not part of the component lifecycle.

Fixing this would require a major overhaul. It would be nice if it would be possible to somehow pass the `vm` from

[2021-07-21 16:37] dospunk opened #50 "[Feature Request] Option to not catch errors"
For projects with a global error handler the current system introduces boilerplate that would not be necessary if there were an option to not catch errors at all

[2021-07-21 17:50] dospunk opened #51 "[Bug] regeneratorRuntime is not defined with useAsyncTask"
I want to use `useAsyncTask` like so:

[code]

but when I try to run this, I get `Uncaught (in promise) ReferenceError: regeneratorRuntime is not defined`

I am using vue 3.1.4, vite 2.4.1, and vue-concurrency 2.1.2

[2021-07-21 18:24] MartinMalinda commented on #51
Strange. This should definitely not happen at least if the modern build is
used where async await is not transpiled. I'll look into this tomorrow.

Dne st 21. 7. 2021 19:50 uživatel Connor Dooley ***@***.***>
napsal:

[2021-07-30 06:47] rudolfbyker commented on #1
Does this mean that this module no longer depends on the composition API at all?

[2021-07-30 07:29] MartinMalinda commented on #1
@rudolfbyker no, it still stands on top of composition api. It's just that just like `ref` and `computed` can be used outside of the `setup` function, so can tasks now

[2021-08-06 05:36] nickngqs commented on #51
I'm getting this bug as well, with usePipeTask.

vite 2.1.3, vue 3.2.0, vue-concurrency 2.1.2

[2021-08-06 05:44] nickngqs commented on #51
Not sure what's the issue but i'm currently using this to fix this issue

[code]

[code]

[2021-08-20 03:52] eLoyyyyy commented on #51
same behavior with `usePipeTask`.

[code]

[2021-08-31 13:38] JkmAS opened #53 "AbortError is called even though task ended with success status"
AbortError is called even though the task ended with `success` status. This happens to me on route change.

Maybe it's related to this issue https://github.com/MartinMalinda/vue-concurrency/issues/13

[code]

[2021-09-23 14:27] MartinMalinda commented on #51
Caused by https://github.com/developit/microbundle/issues/708. I tried to update microbundle but ran into different errors afterwards. I'll give it another try when I have more time.

[2021-09-23 14:28] MartinMalinda commented on #43
Might be related to https://github.com/MartinMalinda/vue-concurrency/issues/51

[2021-09-24 17:12] MartinMalinda commented on #53
Fixed in 2.1.3 https://github.com/MartinMalinda/vue-concurrency/commit/76af0d55549d1ca39c0dedfd082af3fab007a907

[2021-09-24 17:12] #53 closed, assigned to nobody

[2022-01-08 13:12] lllopo opened #58 "Webpack 5 fails due to the way CAF is imported"
There is a conflict in the way how CAF is imported on upgrade from Webpack 4 -> 5.

In TaskInstance.ts the current `import CAF from "caf";` works with Webpack 4, but crashes on Webpack 5.
For Webpack 5 the code that works is `import { CAF } from "caf";`.

Edit : I actually can't check if the stricter import that works in Webpack 5 is working on v4 too or not. If it is - then it is an easy fix.

[2022-01-14 14:11] lllopo commented on #58
And also - is the project still alive ?

[2022-01-14 16:30] MartinMalinda commented on #58
Hey @lllopo a minimal reproduction repo would be very useful here 🙏  I'll try to see if `import { CAF } from "caf";` works elsewhere than Webpack 5 but otherwise all we can do is to propagate the issue either to webpack or caf

[2022-01-14 16:58] MartinMalinda commented on #58
I'm trying `import { CAF }` locally and tests are not passing.

Looking at

https://github.com/getify/CAF/blob/master/src/caf.js#L13

It looks like a webpack issue to me. It should clearly be a default export so I'm not sure what's going sideways on webpack side.

[2022-01-14 21:13] lllopo commented on #58
Unfortunately I don't have a repo. I was digging around the error I'm getting, though, and found this : [https://issueexplorer.com/issue/getify/CAF/25](https://issueexplorer.com/issue/getify/CAF/25). I immediately thought this is my case. So maybe you can get some idea what is going on the issue above. I also found a few explanations and ideas here : [https://stackoverflow.com/questions/50435253/w

[2022-01-15 12:43] lllopo commented on #58
@MartinMalinda
Checked the CAF sources. They are using module.exports, which means no default export (or not exactly). This means `import CAF from "caf"` will never work in Webpack 5 and rightly so. Very unfortunate, but what I did is to try the "required" approach.  This :

`const CAF = require("caf/caf");`

works in my setup with Webpack 5. So if it works on yours too (supposedly it should), I'd

[2022-01-19 15:54] MartinMalinda commented on #58
Thanks @lllopo . I'll check if`require()` does not break `vite` (it could because that doesn't look like it's too browser friendly).

[2022-01-19 15:59] MartinMalinda commented on #58
It looks like it builds 🎉 @lllopo do you use Vue 2 or Vue 3? With latest Vue 3 version I know have some problems with TS on master, which is un unralted issue. I can publish a Vue 2 release for you though.

[2022-01-19 16:10] lllopo commented on #58
@MartinMalinda I'm using latest Vue 3.

[2022-01-19 16:52] MartinMalinda commented on #58
@lllopo I couldn't fix this in `v3` which uses `EffectScope` from Vue 3 for some extra benefits. Unfortunately there's some microbundle + TS that shows up with Vue 3.2 onwards.

But I released `2.3.0`

Once I can figure out the build issue or maybe once I migrate from microbundle to `vite` or other tool I'll fix this in `v3` as well.

[2022-01-19 16:56] lllopo commented on #58
Ok, I'll be looking forward to it. Just include it with the next successful build, whenever it goes out, please. As of now I'll be running my tweaked version, but it will be overwritten as soon as you release a new one, so it would be great if I don't have to apply the fix manually again.

[2022-01-19 17:02] MartinMalinda commented on #58
Maybe I didn't explain it too clearly.

I released 2.3.0 which at the moment is latest stable version of vue-concurrency and it supports Vue 3.

I have some 3.X.X pre-releases which support newest features from Vue 3.2+ but because of those build issues it didn't move from the pre release stage yet.

Chances are you're running 2.X.X version of vue-concurency currently.

But you can of course wait

[2022-01-19 17:10] lllopo commented on #58
No, no ... I think I got you right. I just re-checked my package.json. I'm actually even using 4.0.0-1 right now. No worries. I'm also on very-very early stages of the project where I'm using it ... I can even call it experimental stage :-). Fingers crossed you will solve the issues you have. It transpiles fine at my place, but it is probably because I'm using it on different bundler (or maybe dif

[2022-01-20 17:22] MartinMalinda commented on #58
`Uncaught ReferenceError: require is not defined` unfortunately I have to revert this :(

[2022-01-20 18:35] MartinMalinda commented on #58
https://github.com/getify/CAF/issues/25#issuecomment-1017802252

[2022-01-20 18:46] lllopo commented on #58
Ahhh ... bad. Maybe some kind of polyfill could solve this ?

[2022-01-20 21:24] getify commented on #58
Here's what the ESM distribution of CAF looks like:

`index.mjs`:

[code]

`caf.mjs`:

[code]

As far as I'm aware, you can thus, [as spelled out here](https://github.com/getify/CAF/blob/master/README.md#npm-package), validly `import` the `CAF` function/object in one of two ways:

[code]

I think this is perfectly valid ESM, and I'm not aware of anyone else having issues using CAF in ESM projects.

[2022-01-21 08:56] lllopo commented on #58
This :

`import CAF from "./../node_modules/caf/dist/esm/caf.mjs";`

is a crazy construct, but also builds fine with WP5. It is pretty much the equivalent of the 'require' that was not working, but without 'require'. Would you try it out ?

Edit : basically, the idea is to import from a module that exports only CAF (without the CAG and others) and then WP5 is happy with the `import CAF from ...` p

[2022-01-21 09:19] getify commented on #58
I'm curious why you have to use such an explicit file path in the `from` specifier? Is WP not able to understand the import-entry-points from the npm package, like `"caf/caf"` or `"caf/cag"`? Does WP require all your `import` statements to use explicit file paths, or does it just not like CAF's exports?

If at all possible, `CAF` should be imported as one of these two:

[code]

I'd discourage (unl

[2022-01-21 09:22] getify commented on #58
Side note: I am considering changing that `"caf/caf"` import-entry-point to `"caf/core"` soon, to be less confusing. But I won't be removing the `"caf/caf"` entry-point probably ever, so it's pretty future proof.

[2022-01-21 09:41] lllopo commented on #58
I'm not that good at it at all, so most of the things I mention are something of a guess.
Still - as far as I understand it, `module.exports = { A, B, C }` makes the default export to be the object in question `{ A, B, C }`.
So in our case `module.exports = {CAF, CAG, ... }` means that `import CAF from "caf"` will result CAF to be equal to `{CAF, CAG, ... }` instead of CAF itself. So, WP5 properly

[2022-01-21 09:47] lllopo commented on #58
As of why not `import CAF from "caf/caf";` ? it works perfectly fine (and it should indeed) when I do it on my root project, but when I try it in the node_modules vue-concurency project it fails with "module not found" ... and that's why I came up with this crazy path thing.
As I said - I'm not that good at it, so maybe It is just because I'm tweaking a "subproject". I guess @MartinMalinda can try

[2022-01-29 07:14] vdvibhu20 commented on #58
Not working due to 'caf/caf' import
can't you use just ['caf'](https://www.npmjs.com/package/caf) from npm
if works with simple import
`import Caf from 'caf';`

[2022-01-29 18:12] getify commented on #58
@vdvibhu20

What do you mean? This works perfectly fine as far as I can tell:

[code]

No, that's not what you want. You should pick one of these two:

[code]

`import Caf from "caf"` actually would "work" but in a surprising/weird way. You'd have a namespace called `Caf` that had properties on it named `CAF` and `CAG`... so then to use the library, you'd have to do in code `x = Caf.CAF(..)`. I ad

[2022-01-31 15:10] MartinMalinda commented on #58
@getify

I still don't completely understand how `import { CAF } from "caf"` works in combination with

[code]

Here vue-c: imports it like this:
https://github.com/MartinMalinda/vue-concurrency/blob/master/src/TaskInstance.ts#L1

And then uses like this:
https://github.com/MartinMalinda/vue-concurrency/blob/master/src/TaskInstance.ts#L184

Therefore the default import is calleable and it works.

[2022-01-31 15:33] lllopo commented on #58
@MartinMalinda I'll try to put my 5 cents on this again (feel free to correct me if I'm wrong and sorry in advance, if I'm talking nonsense).
If you look at CAF's package.json, the default export defined there is :
`".": {
			"import": "./dist/esm/index.mjs",
			"default": "./index.js"
		}`

So, when you do `import whatever-you-want-to -import from "caf"`, this comes from `./dist/esm/index.mjs`, w

[2022-02-11 07:33] MartinMalinda commented on #58
I see this is something I missed. I only looked at `main` and I didn't see `exports` below. Thanks!

Well I'd gladly use `import CAF from 'caf/caf';` or `import { CAF } from 'caf';`

But neither work for me here.

After a little bit of googling, it seems like it's a TypeScript problem:

https://github.com/microsoft/TypeScript/issues/33079

[2022-02-15 07:25] BenJackGill opened #63 "Does this play nice with Firebase streams?"
Have been reading your docs, and I really like vue-concurrency.

Was thinking of using it for my Firebase composables.

That would mean wrapping Firebase streams like `onAuthStateChanged` and `onSnapshot` in a Task.

The Task would have to listen and update the `value`, `error`, `isError` etc states.

Would that work?

[2022-02-17 06:24] BenJackGill opened #64 "How to access state variables of a Task/Instance inside the script tag?"
Thanks for building this! Looks like a great solution for async calls.

But I'm having trouble implementing it.

Here is a simple Vue component using vue-concurrency:

[code]

This component makes a fake API call. Pauses for one second. Then will either throw an Error or return the "tada" string.

The current code works in the template, it shows "Loading..." and then either "tada" or the error mes

[2022-02-17 10:37] MartinMalinda commented on #64
It is not the purpose of the task to turn your code from asynchronous to synchronous.

`task.perform()` will trigger the task and the task indeed runs asynchronously in the background. The same way as if you'd had an async function and called it `someFunction()`.

Oftentimes you don't need to work with the task like this in the `<script>`. You just perform it and then you rely on reactivity in the

[2022-02-17 10:58] MartinMalinda commented on #63
I'm afraid tasks are not the best fit for streams. Task is triggered explicitly with `perform()` and once task instance is finished the code does not really expect the value or any other field to change. Also Task builds on top of Promise behavior and Promise also once it is resolved does not yield new values. Promise resolves or rejects just once.

You can promisify `onSnapshot` but that would me

[2022-02-17 11:42] MartinMalinda commented on #58
So it seems like the situation is

Webpack 4 - does not support `exports` in package.json ❌
TypeScript - does not support `exports` in package.json ❌
Webpack 5 - does support `exports` in package.json ✅

I'm not sure 100% but it seems like as long as TS is used in the library the situation is quite blocked.

[2022-02-17 11:44] MartinMalinda commented on #58
Could this perhaps be temporarily resolved on WP5 side via `resolve.alias` ?

[code]

[2022-02-17 14:58] lllopo commented on #58
Pretty busy, but I'll give it a try when I have the time and let you know if it worked. I'm not putting too many hopes on it, as I think I tried something similar already and it didn't help. Still - I'll try again.
A side note - Isn't it there something similar as solution for tsconfig then, so this can be sorted out universally at your side ?

[2022-02-17 23:56] BenJackGill commented on #64
Ok thanks I understand better now.

A **Task** creates one or more **Instances**, and those **Instances** are asynchronous. Therefore we need to handle **Instances** like any other async code (await, try/catch, then/catch, etc).

I've added some code examples below that helped wrap my head around all this, incase it anyone else needs it.

These code examples replace everything below the line `// N

[2022-02-18 00:32] dschmidt commented on #1
This issue is still referenced in the docs, which say this would still be open   :)

Unfortunately pasting the url somehow doesn't work in my phone where I'm currently reading the docs... 🙄 but it's ln the testing section

[2022-02-18 02:47] BenJackGill opened #65 "ESLint Error: Unsafe assignment of an 'any' value."
I'm using vue-concurrency with TypeScript and ESLint.

I am aware of the [TypeScript limitations](https://vue-concurrency.netlify.app/typescript-support/#known-limitations) and that intermediate values need to be explicily typed or else they will be given a type of `any`.

But after typing my intermediate values ESLint still complains about the `any` value: `Unsafe assignment of an 'any' value. es

[2022-02-18 09:22] lllopo commented on #58
Sooooo ... I'm back. Did a few experiments and here the results.

First - your suggestion works like this :
`resolve: {
	alias: {
		caf: path.resolve(__dirname, 'node_modules/vue-concurrency/node_modules/caf/dist/esm/caf.mjs'),
	}
}`

but the problem is that this way I would have to do the old style imports of **caf** in my project, if I need it elsewhere. So, I find it somewhat unacceptable. For

[2022-02-18 11:41] MartinMalinda commented on #64
This looks good!

Although I'd still try to minimze the usage of the `await` and `then` (using tasks as Promises). In my own code I end up doing this here and then but in majority of cases I just define a task and pass it to the template.

In a lot of cases you can have that logic you're now awaiting directly inside the task.

Overall it's still beter to pass the whole task to the template.

You c

[2022-02-18 11:42] MartinMalinda commented on #64
BTW - any PRs for documentation improvements are welcome. Maybe there could be a section for "Awaiting tasks"

[2022-02-18 11:51] MartinMalinda commented on #65
Yes, I'm afraid with the `yield` limitations you pretty much have to do an "unsafe assignment".  I'm looking here: https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-unsafe-assignment.md and maybe some solution with the `unknown` could be tried. But I'm not sure if I can make yield operations return `unknown` instead of any. I'm afraid my TS knowl

[2022-02-18 12:03] MartinMalinda commented on #58
@lllopo thanks for testing it out. I'll try to test the TS option soon. Hopefully the TS config will solve it for everyone and not just flip the issue to the other side (fixing it for WP5 and breaking it for others). Will check!

[2022-02-18 12:04] MartinMalinda commented on #58
There's also an option to pass an alias to microbundle, the tool that actually builds the output bundle. Maybe that's the correct way to go around this. I'll try to check that also.

[2022-02-18 12:09] MartinMalinda commented on #1
@dschmidt Thanks for the reminder. I'll try to check the testing workflows with `cancelOnUnmount: false` and update that docs page and then close this issue 👍

https://vue-concurrency.netlify.app/testing/

[2022-02-18 12:18] MartinMalinda commented on #50
The task definitely has to break execution on error. But it could definitely always pass the error upfront (rethrow). I was also thinking about some global hook for errors for the entire vue-concurrency. There you could also just rethrow yourself or do whatever else (console.error, report error etc).

But so far the usage of tasks is like this:

[code]

I'm not sure if it's possible to do somethin

[2022-02-18 15:27] getify commented on #58
Just as a side note: I am about to release (probably today or tomorrow) v15.0.0 of CAF. This version is important for the following reasons:

1. It fixes currently broken behavior in most new browsers, due to changes the HTML spec made to `AbortSignal` that started to land in browsers recently (last few months).

2. I am deprecating `"caf/caf"` as an import specifier, and will eventually remove it

[2022-02-18 18:05] #63 closed, assigned to nobody

[2022-02-18 20:51] MartinMalinda commented on #58
I tried setting a TS alias and with it I can get it to build it with `import { CAF } from 'caf'`. But I'm looking at the dist output and I'm thinking I'm just moving the issue upstream. With the TS alias I can bypass the problem in my own TS codebase. But if the consumer of vue-concurrency has TS won't it just break there? Same story with WP4, it's probably not gonna work there.

So it's a dilemma

[2022-02-18 21:25] getify commented on #58
If I understand this question, are you saying that a library like CAF should avoid defining package.exports stuff because the rest of the ecosystem seems to not understand how to use them?

That's a tough position to be in. From my perspective, I want to publish a package that's as easy as possible for as many people as possible to use. It's particularly ironic that in my attempt to provide these

[2022-02-20 06:33] BenJackGill commented on #64
I would love to help with the docs, because I think this library has great potential, but I'm still trying to get it working on my own app.

I almost have it, but working with Task Creator arguments and state is tricky.

For example, I have followed the [Task Creators](https://vue-concurrency.netlify.app/composing-tasks/#task-creators) pattern from the docs like so:

**`src/composables/tasks.ts`**

[2022-02-20 06:40] BenJackGill commented on #65
Thanks for the details.

I'll head down this rabbit hole after I successfully refactor my code to use `vue-concurrency`.

For now I'll just disable it, and report back here with any solutions I find in the future.

[2022-02-20 09:59] BenJackGill commented on #64
Ok so this was fixed by passing in refs and checking for undefined inside the Task generator, like so:

[code]
And moving the `useReturnTextTask()` to the top level like so:

[code]

[2022-02-20 11:41] MartinMalinda commented on #64
I think this issue is more related to JS and composition api in general rather than vue concurrency. I'd go for this approach:

[code]

The approach with ref is OK also but it's more simple and explicit to just pass the value directly.

You could still pass some params to `useReturnTextTask()` but those would rather be some generic configuration options rather than a direct value used for each tas

[2022-02-20 11:44] MartinMalinda commented on #64
BTW

[code]

There's no need for the `if` here as in that case the task will always be successful. If it's not successful it throws an error and the code execution stops.

So the proper handling here would be `try catch`: https://vue-concurrency.netlify.app/handling-errors/#promises-and-async-await

[2022-02-21 08:23] BenJackGill commented on #64
Ok this is making a lot more sense now.

Thanks for sticking with me.

I now have this real world example:

- Task Creator arguments that may change on each `.perform()`, and therefore each instance, are defined on `useTask(function* (signal, someArugmentHere: string)` and passed in via `.perform(someArugmentHere)` because `someArugmentHere` is passed as the second parameter.
- Task Creator argume

[2022-02-21 09:14] MartinMalinda commented on #64
1. `void` seems appropriate here, although I've never done that. Probably I'm running older version of typescript-eslint or use some kind of different preset.
2. Typing the resolved value seems correct as that's the end value you get after yield (or await). You'd get `Promise<UserCredential>` if you didn't yield.

Otherwise the code looks good!

[2022-02-24 11:40] MartinMalinda commented on #58
I'm sorry if that sounded rude from my side. I definitely don't want to instruct others on what they should do. I understand your points and there's a nice value in `package.exports` and hopefully in the future it will be a nice and easy way to check and define what a library exports.

Only thing I can think of is to have the fallback more "future compatible" . If the consumer does not support `pa

[2022-03-15 15:57] torleifhalseth commented on #51
Any updates on this @MartinMalinda?

[2022-03-21 19:42] twitwi commented on #58
Working on a typescript, vite-based, vue3 project using vue-concurrency, I have a "require is not defined" error on importing caf (onyl) when running a built version (run build works but the hosting the dist raises the error).

A quick workaround I tried is monkey patching `node_modules/vue-concurrency/dist/vue3/vue-concurrency.js`
- by changing
- `var E = require("caf/caf");`
- into
- <strike>`im

[2022-03-29 03:57] BenJackGill opened #70 "How to retry Tasks?"
I want to create a Task that will retry `x` number of times if a specific kind of error is thrown.

But I can't figure out how to retry the call based on it's error message. I want to retry the call a limited number of times if the error is `INVALID_OAUTH`. Otherwise just throw the error like normal.

Do you have any examples I can use as inspiration?

My stupid brain can't figure it out.

For exa

[2022-03-30 09:18] BenJackGill commented on #70
Please disgrard. I took another route.

I tried to delete this issue but I couldn't. Feel free to delete it if you can.

[2022-03-30 09:18] #70 closed, assigned to nobody

[2022-04-04 16:23] shaunc opened #71 "Question: pinia store containing task?"
Newbie question -- reading through your documentation -- in particular regarding [use with store](https://vue-concurrency.netlify.app/examples/store/).

If I have a multiple components that depend on the same data loaded asynchronously, won't it be better to put the task itself in the store? Doing it the way you suggest will mean that one component will have access to task state, but for others th

[2022-04-08 10:16] MartinMalinda commented on #71
Good question.

This could happen if the task did not cancel. By default it does cancel though so once you leave a route the logic stops and the state just wont end up in the store.

But in some cases you do want to have some logic not to cancel when user leaves the route or perhaps the same should be used in parallel in multiple different places (`getCurrentUserTask` for example). Firing the asyn

[2022-04-09 03:36] getify commented on #58
Hoping maybe this is news that leads to a resolution here: https://devblogs.microsoft.com/typescript/announcing-typescript-4-7-beta/

[2022-04-09 14:47] shaunc commented on #71
Thanks for the explanation and thoughts. What I was envisioning was similar to your `setup`, but in lieu of changing pinia, have a way to use a task idempotently. So in pinia you'd have the task:
[code]
Then in the components:
[code]
Where `performOnce` would ensure that, even if `load` was called in several components, underlying `perform` would only be called once. (Of course we could also have

[2022-04-19 16:21] amrap030 commented on #51
I have this error too in a vue 3 project. I also tried pasting your example from the test as shown below and still have the same error:

[code]

When i remove the last line, I get no errors. This makes the library unfortunately unusable for me.

[2022-04-22 10:19] MartinMalinda commented on #58
Thanks for the heads up @getify 🙏

So far I'm trying

[code]

Together with `import CAF from "caf/core";` with no luck though.

<img width="886" alt="Screenshot 2022-04-22 at 12 14 32" src="https://user-images.githubusercontent.com/9468793/164688088-2e681bbe-6aec-4eb5-93a1-c5a9a861e4f3.png">

I've also tried to change the package.json of CAF in the node modules folder to this format (so it is in t

[2022-05-30 21:03] derekwsgray commented on #58
Same situation, which led me here. Vite+Vue3, but *no* typescript. Didn't realize anything was wrong because it works in dev, just not in production (`vite build`, `vite preview`).

[2022-05-30 21:46] derekwsgray commented on #58
But! I just tried 4.0.0-7 and the problem vanished 🎉

[2022-05-31 08:25] dschmidt commented on #58
Sorry, version 4.0.0-7 of what exactly?

[2022-06-23 05:12] elfxby opened #74 "Question: can use vue-concurrency with android app?"
I am using capacitor to create an android app. In debug mode everything works, but the release app only gives a white screen.

white screen:
[code]

[2022-06-24 08:57] MartinMalinda commented on #74
I don't see a reason why this would break. I'd guess capacitor still use a webview right? So it uses android chrome under the hood. It should have support for generator functions.

[2022-06-29 11:43] Hawxy commented on #51
With Vue 3 & Vite I've been using the temporary fix of :
1.  `npm install regenerator-runtime`
2.  Adding `import 'regenerator-runtime/runtime'` at the top of `main.ts`

If you're using webpack/babel (ie Vue 2), you can also import it directly without the extra package:
`import '@babel/runtime/regenerator';`

[2022-07-05 16:30] pascalwengerter commented on #58
Perhaps https://github.com/MartinMalinda/vue-concurrency/releases/tag/4.0.0-7 ?

[2022-07-05 16:33] pascalwengerter commented on #58
Initially came here because `v2.3.0` doesn't work with Rollup either (https://github.com/owncloud/web/pull/7141 leads to broken unit tests complaining about `caf/caf`, don't let yourself be fooled by unrelated the CI error 😉). Any chance we get a `v2.3.1` or an official vue2-compatible `v3.0.0` anytime soon? :) thx!

[2022-07-05 18:37] MartinMalinda commented on #58
Sorry for the delay everybody. I'll double check the situation again this week, hopefully a new compromise has appeared and if not, I'll release different versions for different platforms and let you know.

[2022-07-06 04:42] BenJackGill opened #76 "How to trigger error messages without the template?"
I am trying to use Vue Concurrency with my Vue 3 / TypeScript / Quasar app.

Previously, I was handling the display of Task error messages in the template with a `v-if` like this:

[code]

But now I am using [Quasar Notify](https://quasar.dev/quasar-plugins/notify#introduction) to display error messages in a popup. These popups are not written into the template. Instead they are triggered from the

[2022-07-06 06:56] BenJackGill commented on #76
Ok I figured out I can chain a `catch()` on the end of every yield statement, like this:

[code]

With this example it seems simple, but in real life I have many Tasks and each contains many yield statements within.

Do I have to chain a `catch()` on the end of each yield statement in every Task?

That looks messy and verbose.

I thought I could implement a `useTaskGroup` and chain a single `catch

[2022-07-06 08:05] MartinMalinda commented on #76
hi @BenJackGill

I think this depends on how you want to handle the errors. I sometimes use these popup notifications as well - they're good for cases when there's no relevant place to display the error, and especially if something breaks in the background.

So my workflow usally is 90% times - display error "in place" and use `task.last.error`. In the rest cases I do `try catch` inside the task a

[2022-07-20 09:08] BenJackGill commented on #76
Sorry for my late reply, I was hit with Covid, but am better now.

Thanks for such a thoughtful answer. It was very helpful.

I think I will do as you say, and keep 90% of error messages in place instead of putting them all into a popup notification.

[2022-07-20 20:38] TRScheel opened #77 "./types is not included in dist folder"
Targeting `vue-concurrency@4.0.0-7`

The folder `./types` is not included in the 'dist' folder. This causes some type checking issues downstream.

Take this example line:

`const testFunc = useTask(function*(signal) { return "test value" });`

Because `./types` is not exported into the 'dist' folder, parameter 'signal' implicitly has an 'any' type as does the resulting `value` of 'testFunc'

The f

[2022-08-03 15:19] mdcarreira opened #80 "Accessing component reference/state inside running task"
I've read the [open issue](https://github.com/MartinMalinda/vue-concurrency/issues/64) that presents a problem similar to mine, but the discussion digressed and I couldn't find a solution to the problem. So I'm opening this new issue.

I used `ember-concurrency` when developing in Ember, and was very happy when I found that this port exists for vue.

In Ember, we can use `this` to access component

[2022-08-03 16:46] MartinMalinda commented on #80
Hey @mdcarreira!

I can see how you want to access `this` if you're coming from Ember. But in the `setup()` function `this` is undefined as you see in the `useAsyncTask()`. So there's no way to fix this for `vue-concurrency` it's rather a Vue Composition API issue.

It's probably WAI that `this` is undefined. With composition API you should be fine with

- props (and those can contain callbacks pa

[2022-08-03 16:47] MartinMalinda commented on #77
Something must have broken here recently. Signal was definitely typed before. Thanks for reporting this.

[2022-08-03 17:06] TRScheel commented on #77
I didn't dig into the history to see when it broke but I noticed some circular dependencies in those files as well. I suspect those circular dependencies might be causing some issues with the tree shaking that is performed on build. Just a shot in the dark though without evidence.

[2022-08-03 17:07] #77 closed, assigned to nobody

[2022-08-03 17:29] MartinMalinda commented on #77
Yeah, that in combination with some TS and Microbundle updates probably. I hope to switch the build to Vite at some point.

I hope to release this week 🙏

[2022-08-03 17:31] MartinMalinda commented on #76
Great!:)

[2022-08-03 17:31] #76 closed, assigned to nobody

[2022-08-03 17:31] #64 closed, assigned to nobody

[2022-08-03 17:34] MartinMalinda commented on #71
@shaunc sorry for late answer

Your code example certainly looks interesting and it could be great for certain usecases. I don't have a clear answer how to make this work. You can set `cancelOnUnmount` to false on the Task options. That way you can create a task there without any warnings or errors. But there might be other issues I can't foresee right now.

[2022-08-03 17:43] TRScheel commented on #76
Would you be opposed to including event handlers as optional parameters? For example, [here](https://github.com/MartinMalinda/vue-concurrency/blob/d1454858c812aad329de02ec725cf1051baebc6d/src/TaskInstance.ts#L217) in TaskInstance.ts line 217:

[code]

If that also called any optionally attached event handlers then outside functions could hook in and request updates upon errors. Additionally, could

[2022-08-03 17:52] MartinMalinda commented on #76
I think passing a callback like `onError` to one specific task could be a little bit antipattern. If you need that you probably want to have a wrapper function with

[code]

It's a bit more verbose but it enforces better logic flow I think.

But the global `onError` function is much needed I think. For proper error reporting to Cloud Services and other global error handling.

I also proposed it he

[2022-08-03 17:56] TRScheel commented on #76
It will likely be two PRs then, one for the global and another for the local.

I can see advantages to the local scoped event handler and even some use cases for it but I understand the issues that might arise from that pattern.

[2022-08-03 18:35] MartinMalinda commented on #76
ok, sounds good 👍 for the local one it would be good to add a disclaimer to the docs not to overuse it

[2022-08-04 07:14] #74 closed, assigned to nobody

[2022-08-04 09:20] mdcarreira commented on #80
Hey @MartinMalinda! Thank you so much for your fast reply :)

I'm actually using the Vue Class Component library. I've seen people using the Composition API with class components, but I would prefer to continue using the class style syntax as I come from the Java world.

Can you think of a good way to go around this using the class component syntax?

Maybe I'm being overly perfectionist by not wan

[2022-08-04 13:20] MartinMalinda commented on #80
I'd definitely recommend to experiment with Composition API more. It's not OOP at all, although you could do some custom OOP in the context of the setup function, but it's the most idiomatic and fleixble way to get things done in Vue for the future.

In setup function you can reuse code the most effective way, you don't have to rely on mixins and such and you can install librarie like `vue-use` an

[2022-08-05 10:22] mdcarreira commented on #80
Thank you @MartinMalinda for your valuable insights. You are probably right, maybe I'm better off switching to Composition API for the long term.

In the meanwhile, I wanted to try the solution you suggested, but if I `export default` the object you suggest, then my class exportation will have to be named: `@Component export class MyClassComponent`, and then everything breaks. What am I missing?

[2022-08-10 15:50] MartinMalinda commented on #71
https://pinia.vuejs.org/core-concepts/#setup-stores

❗

[2022-08-19 11:44] mdcarreira opened #82 "Incompatibility with vue 2.7"
After upgrading to `vue:2.7`, [which has composition-api built in](https://blog.vuejs.org/posts/vue-2-7-naruto.html), I started getting this compilation error when running my app:

[code]

Is there anything I'm missing to make this work? Or is `vue-concurrency` incompatible with `vue:2.7`?

[2022-08-19 11:53] MartinMalinda commented on #82
Hello @mdcarreira it's quite possible the library is incompatible with vue 2.7. For a long time the situation was that in case of Vue 2 I had to require the @vue/composition-api module.

I had a lot of issues making the lib compatible with both Vue 3 and Vue 2. This actually makes it easier.

I think I'll support only Vue 2.7 in new version of vue-concurrency. But I'm swarmed with work, not sure i

[2022-08-19 11:59] mdcarreira commented on #82
Hey @MartinMalinda, thanks for the fast reply!

Yeah, I understand. If I knew more about vue, I might try to give you a helping hand and make a PR. But unfortunately I'm a vue noob...

I'll keep watching your repo and crossing my fingers that you will find the time to look into it :)

[2022-09-14 11:37] mdcarreira commented on #82
@MartinMalinda, by any chance have you managed to look into this or plan to look into it soon?

Sorry for being insistent, but we've come into a point where we cannot upgrade to vue 3, neither want to downgrade back to vue < 2.7... So if you are not planning to update `vue-concurrency` to support vue 2.7, we will need to find an alternative solution :(

[2022-09-14 14:18] MartinMalinda commented on #82
hi @mdcarreira, yes I gave it a try and unfortunately `vue-concurrency` does not run well in 2.7. Seems like the reactivity implementation there is different from the previous `@vue/composition-api` module because I'm seeing errors I haven't seen before with Vue 2.

I suspect this has something to do with its `reactive` implementation and maybe the errors point out some problems within my code, bu

[2022-09-14 14:21] MartinMalinda commented on #82
To be more precise, using a task leads to `RangeError: Maximum call stack size exceeded`. Seems like I'm not alone:
https://github.com/vuejs/vue/issues/12750

[2022-09-14 14:43] mdcarreira commented on #82
Argh, that's a shame... Thanks for letting me know the current state of things!

[2022-10-10 18:09] dschmidt commented on #58
Hello @MartinMalinda,

I've had another look at https://github.com/owncloud/web/pull/7141 today and apparently using version `3.0.0-7` works just fine for us (with rollup btw).

I'm slightly confused by the 3.x and 4.x releases.
Here's what I seem to understand:
- 4.x preleases are based on the vue3 branch and don't support vue2 anymore
- 3.x prereleases are based on master and support vue2 and vu

[2022-10-24 02:42] Hawxy commented on #82
Is this fixed in the latest 2.7 release? I noticed there is handful of reactivity changes.

[2022-10-24 08:26] MartinMalinda commented on #82
@Hawxy I just tried and yes, unfortunately

[2022-10-24 10:10] dschmidt commented on #82
yes, unfortunately it's fixed? Why is that unfortunate?

[2022-10-24 10:38] MartinMalinda commented on #82
A too quick answer from me, sorry. I mean the error is unfortunately still present. It's still going in infinite loop.

[2022-11-13 15:39] #82 closed, assigned to nobody